@import url("https://fonts.googleapis.com/css?family=Montserrat");
body { 
    font-family: "Montserrat", sans-serif; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: auto;
    margin-left: auto;
    width: 2000px;
    height: 1365px;
    /* background-image: url("/static/movemint_background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

div {
    overflow-x: auto;
}

.index {
    text-align: center;
}