{% for message in get_flashed_messages() %}
<p>{{ message }}</p>
{% endfor %}

{% if session.user_id %}
<p>Olet kirjautunut tunnuksella {{ session.username }}</p>
<a href="/account">Käyttäjätiedot</a><br>
<a href="/users">Hallinnoi käyttäjiä</a><br>
<a href="/new_lesson">Luo uusi liikuntatunti</a><br /><br />
<a href="/logout">Kirjaudu ulos</a><br>
<hr>
{% else %}
<form action="/login" method="POST">
<p>Käyttäjätunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu">
</form>
<form action="/register">
<input type="submit" value="Luo uusi tunnus">
</form>
{% endif %}