<!doctype html>
<html lang="en">
{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5">
            <h2>Kaikki käyttäjät</h2>
            <div style="height: 700px">
                <table class="table table-hover table-fixed" id="all_users">
                    <tr>
                        <th>Käyttäjänimi</th>
                        <th>Etunimi</th>
                        <th>Sukunimi</th>
                        <th>Sähköposti</th>
                        <th>Puhelinnumero</th>
                        <th></th>
                    </tr>
                    <tr>
                        {% for user in users %}
                        <td>{{ user[1] }}</td>
                        <td>{{ user[2] }}</td>
                        <td>{{ user[3] }}</td>
                        <td>{{ user[4] }}</td>
                        <td>{{ user[5] }}</td>
                        <td>
                            <a href="/account/{{ user[0] }}">Muokkaa</a>
                        </td>
                    </tr>
                    {% endfor%}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
</html>