<!doctype html>
<html lang="en">
{% extends "layout.html" %}
{% block content %}
<body>
    <div class="container index" style="height: 700px">
        <div class="card border-0 shadow my-5">
            <div class="card-body p-5">
                <h1>Tietosuojaseloste</h1><br>
                <p>Tämä on Yrityksen henkilötietolain (10 ja 24 §) ja EU:n yleisen tietosuoja-asetuksen (GDPR) mukainen rekisteri- ja tietosuojaseloste. Laadittu 13.12.2020. Viimeisin muutos 13.12.2020.</p>
                <h3>1. Rekisterinpitäjä</h3>
                <p>Yritys, Osoite, 01234 Postitoimipaikka<br>
                Muut yhteystiedot</p>
                <h3>2. Rekisteristä vastaava yhteyshenkilö</h3>
                <p>Etunimi Sukunimi, sähköposti, puhelinnumero</p>
                <h3>3. Rekisterin nimi</h3>
                <p>Verkkopalvelun käyttäjärekisteri, jäsenrekisteri</p>
                <h3>4. Oikeusperuste ja henkilötietojen käsittelyn tarkoitus</h3>
                <p>EU:n yleisen tietosuoja-asetuksen mukainen oikeusperuste henkilötietojen käsittelylle on</p>
                <p>- henkilön suostumus (dokumentoitu, vapaaehtoinen, yksilöity, tietoinen ja yksiselitteinen)</p>
                <p>- sopimus, jossa rekisteröity on osapuolena</p>
                <p>- laki (mikä)</p>
                <p>- julkisen tehtävän hoitaminen (mihin perustuu), tai</p>
                <p>- rekisterinpitäjän oikeutettu etu (esim. asiakassuhde, työsuhde, jäsenyys).</p>
                <p>Henkilötietojen käsittelyn tarkoitus on yhteydenpito asiakkaisiin, asiakassuhteen ylläpito, markkinointi tms.</p>
                <p>Tietoja ei käytetä automatisoituun päätöksentekoon tai profilointiin. </p>
                <h3>5. Rekisterin tietosisältö</h3>
                <p>jne....</p>
            </div>
        </div>
    </div>
</body>
{% endblock %}
</html>