<!doctype html>
{% extends "layout.html" %}

{% block content %}
{% for lesson in lessons %}
Tunti: {{ lesson[1] }}<br>
Paikkoja jäljellä: {{ lesson[2] }}<br>
Päivä: {{ lesson[3] }}<br>
Alkaa: {{ lesson[4] }}<br>
Kesto: {{ lesson[5] }} minuuttia<br /><br />
<form action="/sign_up" method="POST">
<input type="hidden" id="id" name="id" value="{{ lesson[0] }}">
<input type="submit" value="Ilmoittaudu"><br>
</form>
<form action="/undo_sign_up" method="POST">
<input type="hidden" id="id" name="id" value="{{ lesson[0] }}">
<input type="submit" value="Peru ilmoittautuminen"><br>
</form>
<hr>
{% endfor%}
{% endblock %}