<!doctype html>
<html lang="en">
{% extends "layout.html" %}
{% block content %}
<body>
    <div class="container">
        <div class="card border-0 shadow my-5">
            <div class="card-body p-5">
                <h2>Omat tunnit</h2>
                <div style="height: 700px">
                    {% if lessons|length > 0 %}
                    <table class="table table-hover table-fixed" id="all_lessons">
                        <tr>
                            <th>Nimi</th>
                            <th>Päivä</th>
                            <th>Aika</th>
                            <th></th>
                        </tr>
                        <tr>
                            {% for lesson in lessons %}
                            <td>{{ lesson[1] }}</td>
                            <td>{{ lesson[2].strftime('%d.%m.%Y') }}</td>
                            <td>{{ lesson[3].strftime('%H:%M') }} - {{ lesson[4].strftime('%H:%M') }}</td>
                            <td>
                                <form action="/undo_sign_up" method="POST">
                                    <input type="hidden" name="lesson_id" value="{{ lesson[0] }}">
                                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                                    <input type="submit" value="Peru"><br>
                                </form>
                            </td>
                        </tr>
                    {% endfor%}
                    </table>
                    {% else %}
                    <b>Sinulla ei ole tulevia tuntivarauksia. Voit varata tunteja <a href="/">etusivulta</a>.</b>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
</html>