<!doctype html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="static/scripts.js"></script>
</head>
{% extends "layout.html" %}

{% block content %}

<style>
    .showthis {
        display: none;
    }
</style>

<h2>Luo uusi tunti</h2>
<form action="/new_lesson" method="POST">

<p>Nimi:<br>
<input type="text" name="name" required></p>

<p>Paikkoja:<br>
<input type="text" name="spots" required></p>

<p>Päivä:<br>
<input type="date" name="date" required></p>

<p>Aika:<br>
<input type="time" name="starts" required> - <input type="time" name="ends" required></p>

<input type="checkbox" class="trigger" name="repeating">Toistuva tunti
<div class="showthis">
    <p>Toistuu<br>
        <input type="radio" name="pizza" value="1"> Päivittäin<br>
        <input type="radio" name="pizza" value="2"> Viikottain<br>
        <input type="date" name="repeatend"> asti
    </p>
</div><br><br>

<input type="submit" value="Luo uusi tunti">

</form>
{% endblock %}
