<h2>Olet kirjautunut ylläpitäjänä</h2>
<a href="/all_users">Kaikkien käyttäjien tiedot</a><br>
<a href="/new_lesson">Luo uusi liikuntatunti</a><br /><br />
<a href="/logout">Kirjaudu ulos</a><br>
<hr>

<form action="/new_lesson" method="POST">

<p>Nimi:<br>
<input type="text" name="name" required></p>

<p>Paikkoja:<br>
<input type="text" name="spots" required></p>

<p>Päivämäärä:<br>
<input type="date" name="date" required></p>

<p>Aika:<br>
<input type=time name="start" required></p>

<p>Kesto (min):<br>
<input type="text" name="duration" required></p>

<input type="submit" value="Luo uusi tunti">

</form>
