<a href="/">Peruuta</a>
<form action="/register" method="POST">

<p>Etunimi:<br>
<input type="text" name="first_name" required></p>

<p>Sukunimi:<br>
<input type="text" name="last_name" required></p>

<p>Puhelinnumero:<br>
<input type="tel" id="phone" name="phone" placeholder="0401234567" pattern="[0-9]{10}" required></p>

<p>Käyttäjätunnus:<br>
<input type="text" name="username" required></p>

<p>Sähköposti:<br>
<input type="text" name="email" required></p>

<p>Salasana:<br>
<input name="password" required="required" type="password" id="password"></p><br>
<input type="submit" value="Luo uusi tunnus">
</form>
